:root {
  --primary-font: "Quicksand", sans-serif;  
  --secondary-font: "Poppins", sans-serif;
 
}

body {
  background: rgb(84, 173, 161);
}

h1 {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-style: normal;
}

h2, h3, p, .btn {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;

}

h4 {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 2;
}

.sub-description {
  font-family: var(--primary-font);
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.7;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: rgb(111, 201, 189);
}

.hero h1{
  font-size: 56px;
  font-weight: 600;
}

.hero h2 {
  font-size: 36px;
  line-height: 2;
}

.hero h3 {
  font-size: 24px;
  line-height: 2;
}

.btn-contact {
  border-radius: 4px;
  background: rgb(221, 214, 214);
  color:rgb(45, 134, 123)
}

.btn-contact:hover {
  background: rgb(84, 173, 161);
}

.main-photo {
  max-width: 600px;
  margin: 10px auto;
}

.sub-photo {
  max-width: 400px;
  margin: 10px auto;
}

.sub-photo-pie {
  max-width: 300px;
  margin: 10px auto;
}

.sub-desserts {
  margin-bottom: 80px;
}

.content-section {
  background: rgb(111, 201, 189);
}

.content {
  text-align: center;
  padding: 120px 20px;
  height: 100vh;
  max-height: 100%;
}

.content h1{
  font-size: 48px;
  font-weight: 600;
}

.content h3 {
  font-size: 24px;
}

.content p {
  font-size: 18px;
  line-height: 1.7;
}

.about-photo {
  max-width: 350px;
  text-align: center;
  margin: 10px auto;
}

.btn-view {
  border-radius: 4px;
  background: rgb(221, 214, 214);
  color:rgb(45, 134, 123)
}

.btn-view:hover {
  background: rgb(84, 173, 161);
}

.gallery-image {
  max-width: 400px;
  height: 300px;
  margin: 20px auto;
  
}

.gallery h1{
  font-size: 48px;
  font-weight: 600;
}

.gallery h3 {
  font-size: 24px;
}

.gallery p {
  font-size: 18px;
  line-height: 1.7;
}

.content-description {
  font-style: italic;
}

.gallery-description {
  padding: 0px;
}

@media (max-width: 576px) {
  .hero {
  padding: 10px;
  }

  .main-photo {
    max-width: 300px;
    margin: 10px auto;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }

  .sub-desserts {
    margin-bottom: 20px;
  }

  .content {
    padding: 15px;
  }

  .about-photo {
    padding: 30px auto;
    max-width: 200;
  }

  .gallery {
    padding: 5px;
  }

  .gallery-image {
    padding: 30px auto;
    max-width: 250px;
    height: 200px;
  }


}